<div [class.active-card]="isPicked()" class="card">
  <div class="card-body">
    <img [alt]="vehicle.make + vehicle.model"
         [src]="vehicle.imageSrc" class="card-img my-2"
         style="min-height: 100px; width: 100%; aspect-ratio: 3/2; object-fit: cover; object-position: center;">
    <p class="h6">{{vehicle?.make}} {{vehicle?.model}}</p>
    <p class="m-0">Year: {{vehicle?.year}} | Class: {{vehicle?.class}}</p>
    <div *ngIf="dailyPrice">
      <p class="mt-0">Day rental price: {{dailyPrice | currency}}</p>
    </div>
    <small>Offer ID: {{vehicle.id}}</small>
  </div>
  <div class="card-footer text-center">
    <base-button [disabled]="disabledBtn" (click)="!disabledBtn? onRentalButtonClick(vehicle): ''">Pick</base-button>
  </div>
</div>
