<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Angular Car Rental</a>
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-md-flex justify-content-between" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a [routerLinkActiveOptions]="{exact:
true}" [routerLinkActive]="['active']" class="nav-link " routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a [routerLinkActiveOptions]="{exact:
false}" [routerLinkActive]="['active']" class="nav-link" routerLink="/vehicles" tabindex="-1">Vehicles</a>
        </li>
        <!--        <li class="nav-item">-->
        <!--          variable counter:{{otherCounter}} <br/>-->
        <!--          <b>variable (parent): {{testVariable}}</b><br/>-->
        <!--        </li>-->
      </ul>

      <div class="ml-auto">
        <a *ngIf="authService.isLoggedIn" class="p-2 text-dark" routerLink="/profile">User Profile</a>
        <a *ngIf="!authService.isLoggedIn" class="p-2 text-dark" routerLink="/login">Sign
          in</a>
        <a *ngIf="!authService.isLoggedIn" class="btn btn-outline-dark" routerLink="/register"
           routerLinkActive="active">Sign up</a>
        <button (click)="logout()" *ngIf="authService.isLoggedIn" class="btn btn-danger" type="button">Logout
        </button>
      </div>
    </div>
  </div>
</nav>
