<div>
  <strong class="d-block py-2">{{filter.name}}:</strong>

  <div class="form-check">
    <input (change)="handleRadioChange($event)"
           [name]="'filterName-'+ filter.parameter"
           [value]="baseFilterOption.value"
           class="form-check-input"
           type="radio"
    >
    <label [for]="baseFilterOption.value + '-' + filter.parameter" class="form-check-label">
      <strong>{{baseFilterOption.value | titlecase}}</strong>
    </label>
  </div>

  <div *ngFor="let option of filter.options" class="form-check">
    <input (change)="handleRadioChange($event)"
           [name]="'filterName-'+ filter.parameter"
           [value]="option"
           [id]="option + '-' + filter.parameter"
           class="form-check-input"
           type="radio"
    >
    <label [for]="option + '-' + filter.parameter" class="form-check-label">
      {{option | titlecase}}
    </label>
  </div>
</div>
