<div class="row d-flex justify-content-center auth-wrapper">
  <div class="col-10 col-lg-4">
    <form (ngSubmit)="loginUser()" [formGroup]="signinForm" class="form-signin">
      <h3 class="h3 mb-3 font-weight-normal text-center">Sign in form</h3>
      <div class="form-group">
        <label>Email</label>
        <input
          class="form-control"
          formControlName="email"
          placeholder="Enter email"
          required
          type="email"
        />
        <div
          *ngIf="signinForm.get('email')?.invalid && (signinForm.get('email')?.dirty || signinForm.get('email')?.touched) || signinForm.get('email')?.errors?.['serverError']?.message"
          class="text-danger mt-1">
          <div *ngIf="signinForm.get('email')?.errors?.['required']">
            Field is required.
          </div>

          <div *ngIf="signinForm.get('email')?.errors?.['email']">
            Invalid email.
          </div>

          <div>
            {{ signinForm.get('email')?.errors?.['serverError']?.message }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input
          class="form-control"
          formControlName="password"
          placeholder="Password"
          type="password"
        />
        <div
          *ngIf="signinForm.get('password')?.invalid && (signinForm.get('password')?.dirty || signinForm.get('password')?.touched) || signinForm.get('password')?.errors?.['serverError']?.message"
          class="text-danger mt-1">
          <div *ngIf="signinForm.get('password')?.errors?.['required']">
            Field is required.
          </div>

          <div>
            {{ signinForm.get('password')?.errors?.['serverError']?.message }}
          </div>
        </div>
      </div>
      <div class="text-end">
        <button class="btn btn-block btn-dark mt-4" type="submit">Sign in</button>
      </div>
    </form>
  </div>
</div>
