<div [class.active-card]="isPicked()" class="card">
  <div class="card-body">
    <img [alt]="vehicle.make + vehicle?.model"
         [src]="vehicle?.imageSrc" class="card-img my-2"
         style="min-height: 100px; width: 100%; aspect-ratio: 3/2; object-fit: cover; object-position: center;">
    <p class="h6">{{vehicle?.make}} {{vehicle?.model}}</p>
    <p class="m-0">Year: {{vehicle?.year}} | Class: {{vehicle?.grade}}</p>
    <div *ngIf="dailyPrice">
      <p class="mt-0">Day rental price: {{dailyPrice | currency}}</p>
    </div>
    <small class="d-block">Offer ID: {{vehicle.id}}</small>
    <small *ngIf="allowPickAction" class="d-block">
      <a [routerLink]="['/vehicles', vehicle.id]" class="d-block">Check details</a>
    </small>
  </div>
  <div *ngIf="allowPickAction" class="card-footer bg-transparent border-0">
    <base-button
      (click)="!disabledBtn? onRentalButtonClick(vehicle): ''"
      [disabled]="disabledBtn"
      [full]="true">
      Pick
    </base-button>
  </div>
</div>
